body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514E;
}

hr {
  border-style: dotted none none none;
  width: 8%;
  border-width: 10px;
  color: grey;
  margin: 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacrament', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom:10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p {line-height:2;}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.web-development {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cricket {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BfbF;
  line-height: 3;
  position: relative;
  top: 80px;
  color: #EAF6F6;
  padding: 50PX 0 40px;
  margin-top: 80px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.p {
  color: #EAF6F6;
  text-align: center;
}

.contact-me { margin:40px auto 60px  ;
}

.btn {margin: 60px auto auto;
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient( bottom, #11CDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 200px auto 40px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #13e3cb;
  background-image: -webkit-linear-gradient(top, #13e3cb, #2bc40d);
  background-image: -moz-linear-gradient(top, #13e3cb, #2bc40d);
  background-image: -ms-linear-gradient(top, #13e3cb, #2bc40d);
  background-image: -o-linear-gradient(top, #13e3cb, #2bc40d);
  background-image: linear-gradient( bottom, #13e3cb, #2bc40d);
  text-decoration: none;
}
